<div *ngIf="page">
    <div class="row">
        <div class="col-1 text-right font-weight-bold">URL</div>
        <div class="col-11">{{page.url}}</div>
    </div>
    <div class="row">
        <div class="col-1 text-right font-weight-bold">Class</div>
        <div class="col-11">{{page.class}}</div>
    </div>
    <div class="row">
        <div class="col-1 text-right font-weight-bold">Status</div>
        <div class="col-11">{{page.status}}</div>
    </div>

    <page-features-card [page]="page"></page-features-card>
</div>