<div *ngIf="site" class="card">
    <div class="card-block">
        <h4 class="card-title">Pages of site: {{site.name}}</h4>

        <table class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <th>URL</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let page of pages" (click)="showPageDetails(page)">
                <td>{{page.url}}</td>
                <td>{{page.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>